asn1crypto
awswrangler
beautifulsoup4
boto3
botocore
certifi
charset-normalizer
decorator
et-xmlfile
idna
jmespath
jsonpath-ng
lxml
numpy
openpyxl
opensearch-py
packaging
pandas
pg8000
ply
progressbar2
py4j
pyarrow
PyMySQL
pyparsing
pyspark
python-dateutil
python-utils
pytz
redshift-connector
requests
requests-aws4auth
s3transfer
scramp
six
soupsieve
urllib3
